FOLLOW THE BELOW INSTRUCTIONS:

  

Step 1: Create a database named ORES5160\_Individual\_Programming\_Assignment1

Step 2: Then in this .ipynb file, click on "Attach to".

Step 3: Then Click on Change Connection.

Step 4: Choose the appropriate server, and the database should point to ORES5160\_Individual\_Programming\_Assignment1

  

Step 5: Please read the below text and run the below-given queries so that the appropriate tables and rows are inserted into the tables that are required to do the assignment given below after the code for the creation and insertion of tables.

<span style="color: rgb(0, 125, 184); font-family: &quot;Open Sans&quot;, Tahoma, Arial, sans-serif; font-size: 31.68px; background-color: rgb(255, 255, 255);">Introduction to the Sports Physical Therapy Database Case</span>

<span style="color: rgb(87, 87, 87); font-family: rooney-web, Cambria, &quot;Times New Roman&quot;, Times, serif; font-size: 18px; background-color: rgb(255, 255, 255);">Sports Physical Therapy provides evaluation, treatment, and rehabilitation of all types of acute and chronic injuries for both athletes and non-athletes. The highly skilled, certified therapists use their background in biomechanics, sport mechanics, and clinical experience to provide one-on-one comprehensive rehabilitation for all types of injuries. The company stores information about its patients, therapists, therapies, and sessions.</span>

<span style="color: rgb(87, 87, 87); font-family: rooney-web, Cambria, &quot;Times New Roman&quot;, Times, serif; font-size: 18px; background-color: rgb(255, 255, 255);">In the Patient table</span><span style="color: rgb(87, 87, 87); font-family: rooney-web, Cambria, &quot;Times New Roman&quot;, Times, serif; font-size: 18px; background-color: rgb(255, 255, 255);">, Sports Physical Therapy stores information about its patients. Each patient is identified by a unique, four-digit patient number. The patient’s name and address, as well as the balance due on their bill, also are stored on the table.</span><span style="color: rgb(87, 87, 87); font-family: rooney-web, Cambria, &quot;Times New Roman&quot;, Times, serif; font-size: 18px; background-color: rgb(255, 255, 255);"><br></span>

In [3]:
-- --------------------------------------------------------
-- Table structure for table 'Patient'
-- --------------------------------------------------------
DROP TABLE IF EXISTS Patient;
CREATE TABLE Patient (
  PatientNum INTEGER NOT NULL, 
  LastName VARCHAR(255), 
  FirstName VARCHAR(255), 
  Address VARCHAR(255), 
  City VARCHAR(255), 
  State VARCHAR(255), 
  ZipCode INTEGER, 
  Balance DECIMAL(19,4), 
  INDEX ZIPCODE_IDX (ZipCode), 
  PRIMARY KEY (PatientNum)
) ;
-- --------------------------------------------------------

In [4]:
-- --------------------------------------------------------
-- Dumping data for table 'Patient'
-- --------------------------------------------------------
SET IMPLICIT_TRANSACTIONS ON;
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1010, 'Koehler', 'Robbie', '119 West Bay Dr.', 'San Vista', 'TX', 72510, 1535.15);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1011, 'King', 'Joseph', '941 Treemont', 'Oak Hills', 'TX', 74081, 212.8);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1012, 'Houghland', 'Susan', '7841 Lake Side Dr.', 'Munster', 'TX', 72380, 1955.4);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1013, 'Falls', 'Tierra', '44 Applewood Ave.', 'Palm Rivers', 'TX', 72511, 1000.35);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1014, 'Odepaul', 'Ben', '546 WCR 150 South', 'Munster', 'TX', 74093, 525);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1015, 'Venable', 'Isaiah', '37 High School Road', 'Waterville', 'TX', 74183, 432.3);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1016, 'Waggoner', 'Brianna', '2691 Westgrove St.', 'Delbert', 'TX', 72381, 714.25);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1017, 'Short', 'Tobey', '1928 10th Ave.', 'Munster', 'TX', 72512, 967.6);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1018, 'Baptist', 'Joseph', '300 Erin Dr.', 'Waterville', 'TX', 76658, 1846.75);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1019, 'Culling', 'Latisha', '4238 East 71st St.', 'San Vista', 'TX', 74071, 1988.5);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1020, 'Marino', 'Andre', '919 Horton Ave.', 'Georgetown', 'TX', 72379, 688.95);
INSERT INTO Patient (PatientNum, LastName, FirstName, Address, City, State, ZipCode, Balance) VALUES (1021, 'Wilson', 'Tammy', '424 October Blvd.', 'Waterville', 'TX', 76658, 2015.3);
-- 12 ------------------------------------------------------

<span style="color: rgb(87, 87, 87); font-family: rooney-web, Cambria, &quot;Times New Roman&quot;, Times, serif; font-size: 18px; background-color: rgb(255, 255, 255);">Sports Physical Therapy records information about each of its therapy sessions. The fields of data are stored in the Session table</span><span style="color: rgb(87, 87, 87); font-family: rooney-web, Cambria, &quot;Times New Roman&quot;, Times, serif; font-size: 18px; background-color: rgb(255, 255, 255);">. A session record will have a unique number, the session date, the patient number, and the length of the session, as well as the therapist number and therapy code.</span>

In [5]:
-- --------------------------------------------------------
-- Table structure for table 'Session'
-- --------------------------------------------------------
DROP TABLE IF EXISTS Session;
CREATE TABLE Session (
  SessionNum INTEGER NOT NULL, 
  SessionDate DATETIME, 
  PatientNum INTEGER, 
  LengthOfSession INTEGER, 
  TherapistID VARCHAR(255), 
  TherapyCode INTEGER, 
  PRIMARY KEY (SessionNum), 
  INDEX THERAPISTID_IDX (TherapistID), 
  INDEX THERAPYCODE_IDX (TherapyCode)
) ;
-- --------------------------------------------------------

In [6]:
-- --------------------------------------------------------
-- Dumping data for table 'Session'
-- --------------------------------------------------------
SET IMPLICIT_TRANSACTIONS ON;
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (27, '2021-10-10 00:00:00', 1011, 45, 'JR085', 92507);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (28, '2021-10-11 00:00:00', 1016, 30, 'AS648', 97010);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (29, '2021-10-11 00:00:00', 1014, 60, 'SW124', 97014);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (30, '2021-10-12 00:00:00', 1013, 30, 'BM273', 97033);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (31, '2021-10-15 00:00:00', 1016, 90, 'AS648', 98960);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (32, '2021-10-16 00:00:00', 1018, 15, 'JR085', 97035);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (33, '2021-10-17 00:00:00', 1017, 60, 'SN852', 97039);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (34, '2021-10-17 00:00:00', 1015, 45, 'BM273', 97112);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (35, '2021-10-18 00:00:00', 1010, 30, 'SW124', 97113);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (36, '2021-10-18 00:00:00', 1019, 75, 'SN852', 97116);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (37, '2021-10-19 00:00:00', 1020, 30, 'BM273', 97124);
INSERT INTO Session (SessionNum, SessionDate, PatientNum, LengthOfSession, TherapistID, TherapyCode) VALUES (38, '2021-10-19 00:00:00', 1021, 60, 'AS648', 97535);
-- 12 ------------------------------------------------------

<span style="color: rgb(87, 87, 87); font-family: rooney-web, Cambria, &quot;Times New Roman&quot;, Times, serif; font-size: 18px; background-color: rgb(255, 255, 255);">Sports Physical Therapy stores information about the therapists who work in their office.&nbsp;</span> <span style="color: rgb(87, 87, 87); font-family: rooney-web, Cambria, &quot;Times New Roman&quot;, Times, serif; font-size: 18px; background-color: rgb(255, 255, 255);">Each therapist is identified by a unique ID number that consists of two uppercase letters followed by a three-digit number. For each therapist, the table also includes the last name, first name, street, city, state, and zip code.</span>

In [7]:
-- --------------------------------------------------------
-- Table structure for table 'Therapies'
-- --------------------------------------------------------
DROP TABLE IF EXISTS Therapies;
CREATE TABLE Therapies (
  TherapyCode INTEGER NOT NULL, 
  Description VARCHAR(255), 
  UnitOfTime INTEGER, 
  PRIMARY KEY (TherapyCode)
) ;
-- --------------------------------------------------------

In [8]:
-- --------------------------------------------------------
-- Dumping data for table 'Therapies'
-- --------------------------------------------------------
SET IMPLICIT_TRANSACTIONS ON;
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (90901, 'Biofeedback training by any modality', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (92240, 'Shoulder strapping', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (92507, 'Treatment of speech', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (92530, 'Knee strapping', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (92540, 'Ankle and/or foot strapping', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (95831, 'Extremity or trunk muscle testing', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97010, 'Hot or cold pack application', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97012, 'Mechanical traction', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97014, 'Electrical stimulation', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97016, 'Vasopneumatic devices', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97018, 'Paraffin bath', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97022, 'Whirlpool', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97026, 'Infrared', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97032, 'Electrical stimulation ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97033, 'Iontophoresis ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97035, 'Ultrasound ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97039, 'Unlisted modality', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97110, 'Therapeutic exercises to develop strength and endurance, range of motion, and flexibility ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97112, 'Neuromuscular re-education of movement, balance, coordination, etc. ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97113, 'Aquatic therapy with therapeutic exercises ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97116, 'Gait training', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97124, 'Massage ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97139, 'Unlisted therapeutic procedure', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97140, 'Manual therapy techniques ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97150, 'Group therapeutic procedure', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97530, 'Dynamic activities to improve functional performance, direct (one-on-one) with the patient ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97535, 'Self-care/home management training ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97750, 'Physical performance test or measurement ', 15);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (97799, 'Unlisted physical medicine/rehabilitation service or procedure', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (98941, 'CMT of the spine', NULL);
INSERT INTO Therapies (TherapyCode, Description, UnitOfTime) VALUES (98960, 'Education and training for patient self-management', 30);
-- 31 ------------------------------------------------------

<span style="color: rgb(87, 87, 87); font-family: rooney-web, Cambria, &quot;Times New Roman&quot;, Times, serif; font-size: 18px; background-color: rgb(255, 255, 255);">In the Therapies table, each kind of therapy is identified by a unique number, which corresponds to the medical physical therapy code sent to insurance companies for reimbursement. The TherapyCode, a description, and the billable unit of time, if any, are included in the table. Time-based therapies are billed in groups of minutes (listed in the table). Service-based therapies are billed per service (no time is listed in the table).&nbsp;</span>

In [9]:
-- --------------------------------------------------------
-- Table structure for table 'Therapist'
-- --------------------------------------------------------
DROP TABLE IF EXISTS Therapist;
CREATE TABLE Therapist (
  TherapistID VARCHAR(255) NOT NULL, 
  LastName VARCHAR(255), 
  FirstName VARCHAR(255), 
  Street VARCHAR(255), 
  City VARCHAR(255), 
  State VARCHAR(255), 
  ZipCode INTEGER, 
  INDEX ZIPCODE_IDX (ZipCode), 
  PRIMARY KEY (TherapistID)
) ;
-- --------------------------------------------------------

In [10]:
-- --------------------------------------------------------
-- Dumping data for table 'Therapist'
-- --------------------------------------------------------
SET IMPLICIT_TRANSACTIONS ON;
INSERT INTO Therapist (TherapistID, LastName, FirstName, Street, City, State, ZipCode) VALUES ('AS648', 'Shields', 'Anthony', '5222 Eagle Court', 'Palm Rivers', 'TX', 72511);
INSERT INTO Therapist (TherapistID, LastName, FirstName, Street, City, State, ZipCode) VALUES ('BM273', 'McClain', 'Bridgette', '385 West Mill St.', 'Waterville', 'TX', 76658);
INSERT INTO Therapist (TherapistID, LastName, FirstName, Street, City, State, ZipCode) VALUES ('JR085', 'Risk', 'Jonathan', '1010 650 North', 'Palm Rivers', 'TX', 72511);
INSERT INTO Therapist (TherapistID, LastName, FirstName, Street, City, State, ZipCode) VALUES ('SN852', 'Nair', 'Saritha', '25 North Elm St.', 'Livewood', 'TX', 72512);
INSERT INTO Therapist (TherapistID, LastName, FirstName, Street, City, State, ZipCode) VALUES ('SW124', 'Wilder', 'Steven', '7354 Rockville Road', 'San Vista', 'TX', 72510);
-- 5 ------------------------------------------------------
COMMIT;

#################PLEASE COMPLETE THE BELOW ASSIGNMENT BY WRITING QUERIES IN THE GIVEN APPROPRIATE CODE CHUNK GIVEN BELOW, EXECUTE THEM, SAVE THE FILE, AND SUBMIT THE FILE IN CANVAS########################################################################################################################

Question 1: <span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">Write the SQL code for the following: List all the information in the patient’s table sorted by city. -- 0.5 points</span>

In [11]:
--Please enter the code for Question 1 below
SELECT * FROM Patient ORDER BY City;

PatientNum,LastName,FirstName,Address,City,State,ZipCode,Balance
1016,Waggoner,Brianna,2691 Westgrove St.,Delbert,TX,72381,714.2500
1020,Marino,Andre,919 Horton Ave.,Georgetown,TX,72379,688.9500
1017,Short,Tobey,1928 10th Ave.,Munster,TX,72512,967.6000
1014,Odepaul,Ben,546 WCR 150 South,Munster,TX,74093,525.0000
1012,Houghland,Susan,7841 Lake Side Dr.,Munster,TX,72380,1955.4000
1011,King,Joseph,941 Treemont,Oak Hills,TX,74081,212.8000
1013,Falls,Tierra,44 Applewood Ave.,Palm Rivers,TX,72511,1000.3500
1010,Koehler,Robbie,119 West Bay Dr.,San Vista,TX,72510,1535.1500
1019,Culling,Latisha,4238 East 71st St.,San Vista,TX,74071,1988.5000
1021,Wilson,Tammy,424 October Blvd.,Waterville,TX,76658,2015.3000
1015,Venable,Isaiah,37 High School Road,Waterville,TX,74183,432.3000
1018,Baptist,Joseph,300 Erin Dr.,Waterville,TX,76658,1846.7500

Question 2: Write the SQL code for the following: List the last names of patients whose balance is greater than $1,000. <span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 16px;">-- 0.5 points</span>

In [12]:
--Please enter the code for Question 2 below
SELECT LastName FROM Patient WHERE Balance > 1000;

LastName
Koehler
Houghland
Falls
Baptist
Culling
Wilson

Question 3:  Write the SQL code for the following: List the city, last name, and balance of patients who live in Waterville and have a balance greater than $1,000. <span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 16px;">-- 0.5 points</span>

In [13]:
--Please enter the code for Question 3 below
SELECT City, LastName, Balance FROM Patient WHERE (City = 'Waterville' AND Balance > 1000);

City,LastName,Balance
Waterville,Baptist,1846.7500
Waterville,Wilson,2015.3000

Question 4: <span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">Write the SQL code for the following: List the city, last name, and balance of patients who live in Waterville or have a balance greater than $2,000.&nbsp;</span> <span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 16px;">-- 0.5 points</span>

In [14]:
--Please enter the code for Question 4 below
SELECT City, LastName, Balance FROM Patient WHERE City = 'Waterville' OR Balance > 2000;

City,LastName,Balance
Waterville,Venable,432.3000
Waterville,Baptist,1846.7500
Waterville,Wilson,2015.3000

Question 5: <span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">Write the SQL code for the following: List the session dates and numbers for those sessions scheduled between 10/18/2021 and 10/20/2021.&nbsp;</span> <span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 16px;">-- 0.5 points</span>

In [15]:
--Please enter the code for Question 5 below
SELECT SessionDate, SessionNum FROM Session WHERE SessionDate BETWEEN '2021-10-18' AND  '2021-10-20';

SessionDate,SessionNum
2021-10-18 00:00:00.000,35
2021-10-18 00:00:00.000,36
2021-10-19 00:00:00.000,37
2021-10-19 00:00:00.000,38

Question 6: <span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">Write the SQL code for the following: List the full name of the therapist scheduled to work on 10/16/2021.&nbsp;</span> <span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 16px;">-- 0.5 points</span>

In [16]:
--Please enter the code for Question 6 below
SELECT FirstName, LastName FROM Therapist WHERE TherapistID IN 
(SELECT TherapistID FROM Session WHERE SessionDate = '2021-10-16');

FirstName,LastName
Jonathan,Risk

Question 7: Write the SQL code that answers the following question: How long are the therapy sessions for the therapist whose last name is Shields? List the length of each session. <span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 16px;">-- 0.5 points</span>

In [17]:
--Please enter the code for Question 7 below
SELECT LengthOfSession FROM Session WHERE TherapistID IN
(SELECT TherapistID FROM Therapist WHERE LastName = 'Shields');

LengthOfSession
30
90
60

Question 8: Write the SQL code that answers the following question: Which therapies have the word “movement” in their description? List the therapy description only. <span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 16px;">-- 0.5 points</span>

In [18]:
--Please enter the code for Question 8 below
SELECT Description FROM Therapies WHERE Description LIKE '%movement%';

Description
"Neuromuscular re-education of movement, balance, coordination, etc."

Question 9: Write the SQL code that answers the following question: How many therapies are offered? Answer with one number only. <span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 16px;">-- 0.5 points</span>

In [19]:
--Please enter the code for Question 9 below
SELECT COUNT(TherapyCode) AS "Number of Therapies" FROM Therapies;

Number of Therapies
31

Question 10: Write an SQL query that displays the therapies and their unit of time for the therapies that include the word bath, hot, or electrical. <span style="font-family: &quot;Times New Roman&quot;, serif; font-size: 16px;">-- 0.5 points</span>

In [20]:
--Please enter the code for Question 10 below
SELECT Description, UnitOfTime FROM Therapies WHERE 
(Description LIKE '%bath%' OR Description LIKE '%hot%' OR Description LIKE '%electrical%');

Description,UnitOfTime
Hot or cold pack application,NULL
Electrical stimulation,NULL
Paraffin bath,NULL
Electrical stimulation,15