FOLLOW THE BELOW INSTRUCTIONS:

Step 1: Create a database named ORES5160\_Individual\_Programming\_Assignment2

Step 2: Then in this .ipynb file, click on "Attach to".

Step 3: Then Click on Change Connection.

Step 4: Choose the appropriate server, and the database should point to ORES5160\_Individual\_Programming\_Assignment2

Step 5: Please read the below text and complete the assignment below.

Step 6: Please complete assignment 2 below by including writing SQL codes within appropriate code chunks for all 14 questions and running them. After that click on save and submit the Individual\_programming\_assignment2.ipynb file in Canvas.

<span style="color:rgb(0, 125, 184);font-family:&quot;Open Sans&quot;, Tahoma, Arial, sans-serif;font-size:31.68px;background-color:rgb(255, 255, 255);">Introduction to the Pitt Fitness Database Case</span>

Pitt Fitness is a chain of three fitness centers that offer classes to the residents of Pittsburgh, Pennsylvania. The centers design classes for all ages and do not charge a monthly fee. The owners of Pitt Fitness have found that their clients enjoy the concept of paying per class, resulting in a lively revenue stream with this model.

The managers at Pitt Fitness use a database management system to record their customers, instructors, classes, and class reservations. Each instructor is[]() identified by a unique InstructorID, which contains two letters and two numbers. Other information about the instructors is their full name, street address, email address, and telephone number. Each class has a ClassID, which is a unique identification number. Other class information includes class name, center and room identification, length of time, maximum size, category, day of the week and time, plus a brief description. Each customer is identified by a unique customer number. In addition, management stores each customer’s last name, first name, street address, city, state, zip code, email address, phone number, and birth date. Each reservation is identified by a unique number that uses the last two digits of the current year followed by a five-digit number that is incremented[]()[]() sequentially as each reservation is received. The table also stores the identification number of the class, the date of the class, the price of the class, and any other fees associated with the class. Finally, the customer’s unique identification number is included. The table named ClassInstructors is used to relate classes and instructors. It includes the class number and the instructor number. The class number in the ClassInstructors table matches a class number in the Classes table, and the instructor number in the ClassInstructors table matches an instructor number in the Instructors table. Note that some classes use more than one instructor.

Please complete assignment 2 below by including writing SQL codes within appropriate code chunks for all 14 questions and running them. After that click on save and submit the Individual\_programming\_assignment2.ipynb file in Canvas.

Question 1: Write command for: Dropping a table named Classes if it already exists.  -- 0.1 points

                    Create a table named classes. It should have the below columns:  -- 0.4 points

                    ClassID  as an integer datatype, should not accept null values, and is also a Primary key, 

                    ClassName as VARCHAR(50) datatype, 

                    Room as VARCHAR(25) datatype,

                    Location as VARCHAR(25) datatype, 

                    LengthofTime as Numeric datatype and can accept Null values,

                    MaxSize as Numeric datatype and can accept Null values,

 <span style="background-color: rgb(255, 255, 254);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; TypeofClass as VARCHAR(25) datatype,</span>

                    Day as VARCHAR(25) datatype, 

                    Time as DATETIME datatype, 

                    Description as VARCHAR(255) datatype.

In [15]:
-- --------------------------------------------------------
--  Dropping a table named Classes if it already exists 
-- --------------------------------------------------------
DROP TABLE Classes;

-- --------------------------------------------------------
--  Create a table named Classes  
-- --------------------------------------------------------
CREATE TABLE Classes (
    ClassID INTEGER NOT NULL,
    ClassName VARCHAR(50),
    Room VARCHAR(25),
    Location VARCHAR(25),
    LengthofTime NUMERIC, 
    MaxSize NUMERIC,
    TypeofClass VARCHAR(25),
    Day VARCHAR(25),
    Time DATETIME,
    Description VARCHAR(255)
    CONSTRAINT ClassesPK PRIMARY KEY (ClassID));

-- --------------------------------------------------------

Question 2: Insert the below rows separated by commas for the respective columns for the Classes table. -- 0.5 points

                    ClassID ,  ClassName    ,    Room    ,   Location          ,    LengthofTime        ,      MaxSize   ,   TypeofClass   ,  Day          ,     Time                                  , Description

                     1         , 'Combination' ,   '159B'     ,   'Shadyside'      ,       60                       ,       40           ,    'Combo'       ,  'Saturday' ,     '1899-12-30 09:00:00'       , 'Cardio, strength, flexibility'

                     2         , 'Yogalates'      ,     '342'     ,    'Downtown'    ,       60                       ,        25          ,     'Core'          ,   'Monday' ,      '1899-12-30 06:00:00'      , 'Yoga and pilates fundamentals'

                     3         , 'Barbell Power',     'Main'  ,    'Oakland'        ,       60                       ,        25          ,      'Strength'   ,   'Tuesday' ,      '1899-12-30 08:00:00'      , 'Barbell program'

                     4         , 'Intense Cycle',      '163'    ,    'Shadyside'     ,       30                       ,        25          ,       'Cardio'     , 'Saturday'  ,       '1899-12-30 10:00:00'     ,  'Sprint'

                     5         , 'Zumba'         ,       '159B'  ,    'Shadyside'     ,       60                       ,        25          ,       'Cardio'     , 'Saturday' ,        '1899-12-30 10:00:00'     , 'Zumba dance'

                     6         , 'Low Impact Aerobics', 'Main', 'Oakland', 60, 25, 'Cardio', 'Tuesday', '1899-12-30 11:00:00', 'Low impact aerobics'

                     7, 'Yoga', '342', 'Downtown', 60, 25, 'Core', 'Tuesday', '1899-12-30 07:00:00', 'Traditional yoga'

                     8, 'Yoga Balance', 'Main', 'Oakland', 60, 25, 'Core', 'Thursday', '1899-12-30 08:00:00', 'Balance yoga'

                     9, 'Barre', 'Main', 'Oakland', 60, 25, 'Core', 'Thursday', '1899-12-30 09:00:00', 'Pilates yoga and aerobics'

                     10, 'Barre Limited', '342', 'Downtown', 30, 25, 'Core', 'Wednesday', '1899-12-30 17:30:00', 'Barre brief'

                     11, 'Maturity Endurance and Strength', 'Main', 'Oakland', 60, 25, 'Strength', 'Friday', '1899-12-30 10:30:00', 'Cardio, strength, flexibility for older adults'

                     12, 'Maturity Classics', '159B', 'Shadyside', 60, 25, 'Strength', 'Wednesday', '1899-12-30 07:00:00', 'Strength and movement for older Adults'

                     13, 'Agility for Seniors', 'Main', 'Oakland', 60, 25, 'Core', 'Friday', '1899-12-30 09:30:00', 'Agility for older adults'

                     14, 'HIIT', '315', 'Downtown', 30, 25, 'Cardio', 'Thursday', '1899-12-30 18:00:00', 'High intensity interval drills'    

                     15, 'Bootcamp', '159B', 'Shadyside', 30, 25, 'Cardio', 'Saturday', '1899-12-30 11:00:00', 'Weight training and cardio'

                     16, 'Cycle', '320', 'Downtown', 60, 25, 'Cardio', 'Friday', '1899-12-30 06:30:00', 'Sprints and climbs'

                     17, 'Cycle and Strength', '163', 'Shadyside', 60, 25, 'Cardio', 'Sunday', '1899-12-30 12:30:00', 'Cycle and strength'

                     18, 'Aquasize', 'Pool', 'Oakland', 60, 25, 'Cardio', 'Tuesday', '1899-12-30 14:00:00', 'Low impact cardio water exercise'

                     19, 'Aqua Strength and Cardio', '125P', 'Shadyside', 60, 25, 'Cardio', 'Wednesday', '1899-12-30 06:00:00', 'Strength and cardio in the water'  

                      20, 'Aqua Calm', 'Pool', 'Oakland', 45, 25, 'Strength', 'Tuesday', '1899-12-30 13:00:00', 'Low impact water exercise'

                      21, 'Combination', '159B', 'Shadyside', 60, 40, 'Combo', 'Sunday', '1899-12-30 09:00:00', 'Cardio, strength, flexibility'

                      22, 'Yogalates', '342', 'Downtown', 60, 25, 'Core', 'Tuesday', '1899-12-30 06:00:00', 'Yoga and pilates fundamentals'

                      23, 'Barbell Power', 'Main', 'Oakland', 60, 25, 'Strength', 'Wednesday', '1899-12-30 08:00:00', 'Barbell program'

                      24, 'Intense Cycle', '163', 'Shadyside', 30, 25, 'Cardio', 'Sunday', '1899-12-30 10:00:00', 'Sprint'

                      25, 'Zumba', '159B', 'Shadyside', 60, 25, 'Cardio', 'Sunday', '1899-12-30 10:00:00', 'Zumba dance'

                      26, 'Low Impact Aerobics', 'Main', 'Oakland', 60, 25, 'Cardio', 'Wednesday', '1899-12-30 11:00:00', 'Low impact aerobics'

                      27, 'Yoga', '342', 'Downtown', 60, 25, 'Core', 'Wednesday', '1899-12-30 06:00:00', 'Traditional yoga'

                      28, 'Yoga Balance', 'Main', 'Oakland', 60, 25, 'Core', 'Friday', '1899-12-30 08:00:00', 'Balance yoga'

                      29, 'Barre', 'Main', 'Oakland', 60, 25, 'Core', 'Friday', '1899-12-30 09:00:00', 'Pilates yoga and aerobics'

                      30, 'Barre Limited', '342', 'Downtown', 30, 25, 'Core', 'Thursday', '1899-12-30 17:30:00', 'Barre brief'

                      31, 'Maturity Endurance and Strength', 'Main', 'Oakland', 60, 25, 'Strength', 'Saturday', '1899-12-30 10:30:00', 'Cardio, strength, flexibility for older adults'

                      32, 'Maturity Classics', '159B', 'Shadyside', 60, 25, 'Strength', 'Thursday', '1899-12-30 07:00:00', 'Strength and movement for older adults'

                      33, 'Agility for Seniors', 'Main', 'Oakland', 60, 25, 'Core', 'Saturday', '1899-12-30 09:30:00', 'Agility for older adults'

                      34, 'HIIT', '315', 'Downtown', 30, 25, 'Cardio', 'Friday', '1899-12-30 18:00:00', 'High intensity interval drills'

                      35, 'Bootcamp', '159B', 'Shadyside', 30, 25, 'Cardio', 'Sunday', '1899-12-30 11:00:00', 'Weight training and cardio'

                      36, 'Cycle', '320', 'Downtown', 60, 25, 'Cardio', 'Saturday', '1899-12-30 06:30:00', 'Sprints and climbs'

                      37, 'Cycle and Strength', '163', 'Shadyside', 60, 25, 'Cardio', 'Monday', '1899-12-30 12:30:00', 'Cycle and strength'

                      38, 'Aquasize', 'Pool', 'Oakland', 60, 25, 'Cardio', 'Wednesday', '1899-12-30 14:00:00', 'Low impact cardio water exercise'

                      39, 'Aqua Strength and Cardio', '125P', 'Shadyside', 60, 25, 'Cardio', 'Thursday', '1899-12-30 06:00:00', 'Strength and cardio in the water'

                      40, 'Aqua Calm', 'Pool', 'Oakland', 45, 25, 'Strength', 'Wednesday', '1899-12-30 13:00:00', 'Low impact water exercise'

In [16]:
-- --------------------------------------------------------
-- Dumping data for table 'Classes'
-- --------------------------------------------------------
INSERT INTO Classes VALUES(1, 'Combination' , '159B' , 'Shadyside' , 60 , 40 , 'Combo' , 'Saturday' , '1899-12-30 09:00:00' , 'Cardio, strength, flexibility');
INSERT INTO Classes VALUES(2 , 'Yogalates' , '342' , 'Downtown' , 60 , 25 , 'Core' , 'Monday' , '1899-12-30 06:00:00' , 'Yoga and pilates fundamentals');
INSERT INTO Classes VALUES(3 , 'Barbell Power', 'Main' , 'Oakland' , 60 , 25 , 'Strength' , 'Tuesday' , '1899-12-30 08:00:00' , 'Barbell program');
INSERT INTO Classes VALUES(4 , 'Intense Cycle', '163' , 'Shadyside' , 30 , 25 , 'Cardio' , 'Saturday' , '1899-12-30 10:00:00' , 'Sprint');
INSERT INTO Classes VALUES(5 , 'Zumba' , '159B' , 'Shadyside' , 60 , 25 , 'Cardio' , 'Saturday' , '1899-12-30 10:00:00' , 'Zumba dance');
INSERT INTO Classes VALUES(6 , 'Low Impact Aerobics', 'Main', 'Oakland', 60, 25, 'Cardio', 'Tuesday', '1899-12-30 11:00:00', 'Low impact aerobics');
INSERT INTO Classes VALUES(7, 'Yoga', '342', 'Downtown', 60, 25, 'Core', 'Tuesday', '1899-12-30 07:00:00', 'Traditional yoga');
INSERT INTO Classes VALUES(8, 'Yoga Balance', 'Main', 'Oakland', 60, 25, 'Core', 'Thursday', '1899-12-30 08:00:00', 'Balance yoga');
INSERT INTO Classes VALUES(9, 'Barre', 'Main', 'Oakland', 60, 25, 'Core', 'Thursday', '1899-12-30 09:00:00', 'Pilates yoga and aerobics');
INSERT INTO Classes VALUES(10, 'Barre Limited', '342', 'Downtown', 30, 25, 'Core', 'Wednesday', '1899-12-30 17:30:00', 'Barre brief');
INSERT INTO Classes VALUES(11, 'Maturity Endurance and Strength', 'Main', 'Oakland', 60, 25, 'Strength', 'Friday', '1899-12-30 10:30:00', 'Cardio, strength, flexibility for older adults');
INSERT INTO Classes VALUES(12, 'Maturity Classics', '159B', 'Shadyside', 60, 25, 'Strength', 'Wednesday', '1899-12-30 07:00:00', 'Strength and movement for older Adults');
INSERT INTO Classes VALUES(13, 'Agility for Seniors', 'Main', 'Oakland', 60, 25, 'Core', 'Friday', '1899-12-30 09:30:00', 'Agility for older adults');
INSERT INTO Classes VALUES(14, 'HIIT', '315', 'Downtown', 30, 25, 'Cardio', 'Thursday', '1899-12-30 18:00:00', 'High intensity interval drills' );
INSERT INTO Classes VALUES(15, 'Bootcamp', '159B', 'Shadyside', 30, 25, 'Cardio', 'Saturday', '1899-12-30 11:00:00', 'Weight training and cardio');
INSERT INTO Classes VALUES(16, 'Cycle', '320', 'Downtown', 60, 25, 'Cardio', 'Friday', '1899-12-30 06:30:00', 'Sprints and climbs');
INSERT INTO Classes VALUES(17, 'Cycle and Strength', '163', 'Shadyside', 60, 25, 'Cardio', 'Sunday', '1899-12-30 12:30:00', 'Cycle and strength');
INSERT INTO Classes VALUES(18, 'Aquasize', 'Pool', 'Oakland', 60, 25, 'Cardio', 'Tuesday', '1899-12-30 14:00:00', 'Low impact cardio water exercise');
INSERT INTO Classes VALUES(19, 'Aqua Strength and Cardio', '125P', 'Shadyside', 60, 25, 'Cardio', 'Wednesday', '1899-12-30 06:00:00', 'Strength and cardio in the water');
INSERT INTO Classes VALUES(20, 'Aqua Calm', 'Pool', 'Oakland', 45, 25, 'Strength', 'Tuesday', '1899-12-30 13:00:00', 'Low impact water exercise');
INSERT INTO Classes VALUES(21, 'Combination', '159B', 'Shadyside', 60, 40, 'Combo', 'Sunday', '1899-12-30 09:00:00', 'Cardio, strength, flexibility');
INSERT INTO Classes VALUES(22, 'Yogalates', '342', 'Downtown', 60, 25, 'Core', 'Tuesday', '1899-12-30 06:00:00', 'Yoga and pilates fundamentals');
INSERT INTO Classes VALUES(23, 'Barbell Power', 'Main', 'Oakland', 60, 25, 'Strength', 'Wednesday', '1899-12-30 08:00:00', 'Barbell program');
INSERT INTO Classes VALUES(24, 'Intense Cycle', '163', 'Shadyside', 30, 25, 'Cardio', 'Sunday', '1899-12-30 10:00:00', 'Sprint');
INSERT INTO Classes VALUES(25, 'Zumba', '159B', 'Shadyside', 60, 25, 'Cardio', 'Sunday', '1899-12-30 10:00:00', 'Zumba dance');
INSERT INTO Classes VALUES(26, 'Low Impact Aerobics', 'Main', 'Oakland', 60, 25, 'Cardio', 'Wednesday', '1899-12-30 11:00:00', 'Low impact aerobics');
INSERT INTO Classes VALUES(27, 'Yoga', '342', 'Downtown', 60, 25, 'Core', 'Wednesday', '1899-12-30 06:00:00', 'Traditional yoga');
INSERT INTO Classes VALUES(28, 'Yoga Balance', 'Main', 'Oakland', 60, 25, 'Core', 'Friday', '1899-12-30 08:00:00', 'Balance yoga');
INSERT INTO Classes VALUES(29, 'Barre', 'Main', 'Oakland', 60, 25, 'Core', 'Friday', '1899-12-30 09:00:00', 'Pilates yoga and aerobics');
INSERT INTO Classes VALUES(30, 'Barre Limited', '342', 'Downtown', 30, 25, 'Core', 'Thursday', '1899-12-30 17:30:00', 'Barre brief');
INSERT INTO Classes VALUES(31, 'Maturity Endurance and Strength', 'Main', 'Oakland', 60, 25, 'Strength', 'Saturday', '1899-12-30 10:30:00', 'Cardio, strength, flexibility for older adults');
INSERT INTO Classes VALUES(32, 'Maturity Classics', '159B', 'Shadyside', 60, 25, 'Strength', 'Thursday', '1899-12-30 07:00:00', 'Strength and movement for older adults');
INSERT INTO Classes VALUES(33, 'Agility for Seniors', 'Main', 'Oakland', 60, 25, 'Core', 'Saturday', '1899-12-30 09:30:00', 'Agility for older adults');
INSERT INTO Classes VALUES(34, 'HIIT', '315', 'Downtown', 30, 25, 'Cardio', 'Friday', '1899-12-30 18:00:00', 'High intensity interval drills');
INSERT INTO Classes VALUES(35, 'Bootcamp', '159B', 'Shadyside', 30, 25, 'Cardio', 'Sunday', '1899-12-30 11:00:00', 'Weight training and cardio');
INSERT INTO Classes VALUES(36, 'Cycle', '320', 'Downtown', 60, 25, 'Cardio', 'Saturday', '1899-12-30 06:30:00', 'Sprints and climbs');
INSERT INTO Classes VALUES(37, 'Cycle and Strength', '163', 'Shadyside', 60, 25, 'Cardio', 'Monday', '1899-12-30 12:30:00', 'Cycle and strength');
INSERT INTO Classes VALUES(38, 'Aquasize', 'Pool', 'Oakland', 60, 25, 'Cardio', 'Wednesday', '1899-12-30 14:00:00', 'Low impact cardio water exercise');
INSERT INTO Classes VALUES(39, 'Aqua Strength and Cardio', '125P', 'Shadyside', 60, 25, 'Cardio', 'Thursday', '1899-12-30 06:00:00', 'Strength and cardio in the water');
INSERT INTO Classes VALUES(40, 'Aqua Calm', 'Pool', 'Oakland', 45, 25, 'Strength', 'Wednesday', '1899-12-30 13:00:00', 'Low impact water exercise');

--------------------------------------------------------

Question 3: Write command for: Dropping a table named ClassInstructors if it already exists.  -- 0.1 points

                    Create a table named ClassInstructors. The primary key for this table will be a composite primary key of (ClassID, InstructorID). It should have the below columns:  -- 0.4 points

                    ClassID as an integer datatype and should not accept null values,

                    InstructorID as VARCHAR(7) datatype and should not accept null values.

In [22]:
-- --------------------------------------------------------
--  Dropping a table named ClassInstructors if it already exists 
-- --------------------------------------------------------
DROP TABLE ClassInstructors;

-- --------------------------------------------------------
--  Create a table named ClassInstructors  
-- --------------------------------------------------------
CREATE TABLE ClassInstructors(
    ClassID INTEGER NOT NULL,
    InstructorID VARCHAR(7) NOT NULL,
    CONSTRAINT ClassInstructorsPK PRIMARY KEY (ClassID, InstructorID));

-- --------------------------------------------------------

Question 4:  Insert the below rows separated by commas for the respective columns for the ClassInstructors table.  -- 0.5 points

                    ClassID, InstructorID

                    1, 'RS02'

                    2, 'RS01'

                    3, 'VP01'

                    4, 'MS01'

                    5, 'MK01'

                    6, 'MK01'

                    7, 'RS01'

                    8, 'LL01'

                    9, 'LL01'

                   10, 'LL01'

                   11, 'MA01'  

                   11, 'MD01'

                   12, 'MA01'

                   12, 'MD01'

                   13, 'MA01'

                   13, 'MD01'

                   14, 'RS01'

                   15, 'RS02'

                   16, 'MS01'

                   17, 'MS01'

                   18, 'NT01'  

                   19, 'NT01'

                    20, 'JV01'

                    21, 'MD01'

                    22, 'RS01'

                    23, 'RS01'

                    24, 'MS01'

                    25, 'MK01'

                    26, 'NT01'

                    27, 'LL01'

                    28, 'RS01'

                    29, 'VP01'

                    30, 'VP01'

                    31, 'MA01'

                    31, 'MD01'

                    32, 'MA01'

                    32, 'MD01'

                    33, 'MA01'

                    33, 'MD01'

                    34, 'RS02'

                    35, 'RS02'

                    36, 'MS01'

                    37, 'MS01'

                    38, 'JV01'

                    39, 'JV01'

                    40, 'NT01'

In [23]:
-- --------------------------------------------------------
-- Dumping data for table 'ClassInstructors'
-- --------------------------------------------------------
INSERT INTO ClassInstructors VALUES(1, 'RS02');
INSERT INTO ClassInstructors VALUES(2, 'RS01');
INSERT INTO ClassInstructors VALUES(3, 'VP01');
INSERT INTO ClassInstructors VALUES(4, 'MS01');
INSERT INTO ClassInstructors VALUES(5, 'MK01');
INSERT INTO ClassInstructors VALUES(6, 'MK01');
INSERT INTO ClassInstructors VALUES(7, 'RS01');
INSERT INTO ClassInstructors VALUES(8, 'LL01');
INSERT INTO ClassInstructors VALUES(9, 'LL01');
INSERT INTO ClassInstructors VALUES(10, 'LL01');
INSERT INTO ClassInstructors VALUES(11, 'MA01');
INSERT INTO ClassInstructors VALUES(11, 'MD01');
INSERT INTO ClassInstructors VALUES(12, 'MA01');
INSERT INTO ClassInstructors VALUES(12, 'MD01');
INSERT INTO ClassInstructors VALUES(13, 'MA01');
INSERT INTO ClassInstructors VALUES(13, 'MD01');
INSERT INTO ClassInstructors VALUES(14, 'RS01');
INSERT INTO ClassInstructors VALUES(15, 'RS02');
INSERT INTO ClassInstructors VALUES(16, 'MS01');
INSERT INTO ClassInstructors VALUES(17, 'MS01');
INSERT INTO ClassInstructors VALUES(18, 'NT01');
INSERT INTO ClassInstructors VALUES(19, 'NT01');
INSERT INTO ClassInstructors VALUES(20, 'JV01');
INSERT INTO ClassInstructors VALUES(21, 'MD01');
INSERT INTO ClassInstructors VALUES(22, 'RS01');
INSERT INTO ClassInstructors VALUES(23, 'RS01');
INSERT INTO ClassInstructors VALUES(24, 'MS01');
INSERT INTO ClassInstructors VALUES(25, 'MK01');
INSERT INTO ClassInstructors VALUES(26, 'NT01');
INSERT INTO ClassInstructors VALUES(27, 'LL01');
INSERT INTO ClassInstructors VALUES(28, 'RS01');
INSERT INTO ClassInstructors VALUES(29, 'VP01');
INSERT INTO ClassInstructors VALUES(30, 'VP01');
INSERT INTO ClassInstructors VALUES(31, 'MA01');
INSERT INTO ClassInstructors VALUES(31, 'MD01');
INSERT INTO ClassInstructors VALUES(32, 'MA01');
INSERT INTO ClassInstructors VALUES(32, 'MD01');
INSERT INTO ClassInstructors VALUES(33, 'MA01');
INSERT INTO ClassInstructors VALUES(33, 'MD01');
INSERT INTO ClassInstructors VALUES(34, 'RS02');
INSERT INTO ClassInstructors VALUES(35, 'RS02');
INSERT INTO ClassInstructors VALUES(36, 'MS01');
INSERT INTO ClassInstructors VALUES(37, 'MS01');
INSERT INTO ClassInstructors VALUES(38, 'JV01');
INSERT INTO ClassInstructors VALUES(39, 'JV01');
INSERT INTO ClassInstructors VALUES(40, 'NT01');
----------------------------------------------------------

Question 5: Write command for: Dropping a table named Customers if it already exists.  -- 0.1 points

                    Create a table named Customers. The primary key for this table will be CustomerID. It should have the below columns:  -- 0.4 points

                    CustomerID as VARCHAR(7) datatype and should not accept Null values, 

                    LastName as VARCHAR(25) datatype, 

                    FirstName as VARCHAR(25) datatype, 

                    StreetAddress as VARCHAR(50) datatype, 

                    City as VARCHAR(25) datatype, 

                    State as VARCHAR(2) datatype, 

                     ZipCode as VARCHAR(5) datatype, 

                    EmailAddress as VARCHAR(255) datatype, 

                    PhoneNumber as VARCHAR(12) datatype, 

                    BirthDate as DATETIME datatype.

In [25]:
-- --------------------------------------------------------
--  Dropping a table named Customers if it already exists 
-- --------------------------------------------------------
DROP TABLE Customers;

-- --------------------------------------------------------
--  Create a table named Customers  
-- --------------------------------------------------------
CREATE TABLE Customers(
    CustomerID VARCHAR(7) NOT NULL,
    LastName VARCHAR(25),
    FirstName VARCHAR(25),
    StreetAddress VARCHAR(50),
    City VARCHAR(25),
    State VARCHAR(2),
    ZipCode VARCHAR(5),
    EmailAddress VARCHAR(255),
    PhoneNumber VARCHAR(12),
    BirthDate DATETIME,
    CONSTRAINT CustomersPK PRIMARY KEY (CustomerID));

-- --------------------------------------------------------

Question 6:  Insert the below rows separated by commas for the respective columns for the Customers table.   --- 0.5 points

                  CustomerID, LastName, FirstName, StreetAddress, City, State, ZipCode, EmailAddress, PhoneNumber, BirthDate

                  '101', 'Aboud', 'Nour', '4898 Negley Ave', 'Pittsburgh', 'PA', '15232', '[NourAboud@cengage.com](mailto:NourAboud@cengage.com)', '412-255-5443', '1998-02-23 00:00:00'

                  '102', 'Waldron', 'Tony', '766 Myrtle Way', 'Pittsburgh', 'PA', '15232', '[TonyLWaldron@cengage.com](mailto:TonyLWaldron@cengage.com)', '617-825-9347', '1989-08-23 00:00:00'

                  '103', 'Arian', 'Farah', '998 Forward Ave', 'Pittsburgh', 'PA', '15217', '[FarahArian@cengage.com](mailto:FarahArian@cengage.com)', '878-243-9786', '2000-10-21 00:00:00'

                  '104', 'Cane', 'James', '4310 Elmer St', 'Pittsburgh', 'PA', '15232', '[JamesJCane@cengage.com](mailto:JamesJCane@cengage.com)', '610-555-9951', '1967-02-01 00:00:00'

                  '105', 'Brescia', 'Keith', '1595 Holden St', 'Pittsburgh', 'PA', '15232', '[KeithWBrescia@cengage.com](mailto:KeithWBrescia@cengage.com)', '724-943-0945', '1948-06-11 00:00:00'

                  '106', 'Conner', 'Don', '3004 Alder St', 'Pittsburgh', 'PA', '15232', '[DonSConner@cengage.com](mailto:DonSConner@cengage.com)', '412-281-0129', '1957-05-18 00:00:00'

                  '107', 'Feldman', 'Terrance', '2158 Semple St', 'Pittsburgh', 'PA', '15213', '[TerranceLFeldman@cengage.com](mailto:TerranceLFeldman@cengage.com)', '559-673-4340', '1987-12-09 00:00:00'

                  '108', 'Gregor', 'Alice', '392 Murray Ave', 'Pittsburgh', 'PA', '15217', '[AliceRGregor@cengage.com](mailto:AliceRGregor@cengage.com)', '770-832-4718', '1957-02-16 00:00:00'

                  '109', 'Miller', 'Roland', '2542 York Way', 'Pittsburgh', 'PA', '15213', '[RolandJMiller@cengage.com](mailto:RolandJMiller@cengage.com)', '412-266-5419', '1984-04-20 00:00:00'

                  '110', 'Sanchez', 'Ramiro', '4983 McKee Pl', 'Pittsburgh', 'PA', '15213', '[RamiroSanchez@cengage.com](mailto:RamiroSanchez@cengage.com)', '878-576-5221', '1953-04-01 00:00:00'

                  '111', 'Barry', 'Juan', '4534 Urie Way', 'Pittsburgh', 'PA', '15213', '[JuanRBarry@cengage.com](mailto:JuanRBarry@cengage.com)', '210-444-4773', '1958-01-03 00:00:00'

                  '112', 'Smith', 'Sharon', '1937 Bates St', 'Pittsburgh', 'PA', '15213', '[SharonMSmith@cengage.com](mailto:SharonMSmith@cengage.com)', '878-268-2455', '1944-10-16 00:00:00'

                  '113', 'Hatcher', 'Charles', '3218 Louisa St', 'Pittsburgh', 'PA', '15213', '[CharlesMHatcher@cengage.com](mailto:CharlesMHatcher@cengage.com)', '561-550-8190', '1976-12-27 00:00:00'

                  '114', 'Spencer', 'Glenn', '2764 Oakland Ave', 'Pittsburgh', 'PA', '15213', '[GlennJSpencer@cengage.com](mailto:GlennJSpencer@cengage.com)', '878-688-4980', '1934-05-07 00:00:00'

                   '115', 'Hearn', 'James', '1252 Pier St', 'Pittsburgh', 'PA', '15213', '[JamesJHearn@cengage.com](mailto:JamesJHearn@cengage.com)', '231-640-8302', '1996-02-15 00:00:00'

                   '116', 'Cornett', 'Albert', '3545 Ermine Way', 'Pittsburgh', 'PA', '15213', '[AlbertACornett@cengage.com](mailto:AlbertACornett@cengage.com)', '724-975-6688', '1947-09-29 00:00:00'

                   '117', 'Devito', 'Sylvia', '3281 Fiber Way', 'Pittsburgh', 'PA', '15213', '[SylviaKDevito@cengage.com](mailto:SylviaKDevito@cengage.com)', '256-486-5999', '1949-05-27 00:00:00'

                   '118', 'Hill', 'Jess', '3161 Argyle Way', 'Pittsburgh', 'PA', '15213', '[JessAHill@cengage.com](mailto:JessAHill@cengage.com)', '480-854-3611', '1938-01-04 00:00:00'

                   '119', 'Benavides', 'Philip', '1465 Butler St', 'Pittsburgh', 'PA', '15201', '[PhilipCBenavides@cengage.com](mailto:PhilipCBenavides@cengage.com)', '412-868-4146', '1994-10-13 00:00:00'

                   '120', 'Patterson', 'Margo', '3291 Mahon St', 'Pittsburgh', 'PA', '15219', '[MargoFPatterson@cengage.com](mailto:MargoFPatterson@cengage.com)', '412-290-1510', '1960-09-19 00:00:00'

                   '121', 'Thorn', 'Debbie', '4434 Watt St', 'Pittsburgh', 'PA', '15219', '[DebbieLThorn@cengage.com](mailto:DebbieLThorn@cengage.com)', '412-323-5436', '1968-06-01 00:00:00'

                   '122', 'Shaffer', 'Gene', '2041 Wylie Ave', 'Pittsburgh', 'PA', '15219', '[GeneKShaffer@cengage.com](mailto:GeneKShaffer@cengage.com)', '281-817-7573', '2002-06-10 00:00:00'

                   '123', 'Brough', 'Pablo', '1812 Penn Ave', 'Pittsburgh', 'PA', '15224', '[PabloRBrough@cengage.com](mailto:PabloRBrough@cengage.com)', '909-577-5726', '1975-08-30 00:00:00'

                   '124', 'Agnew', 'Betty', '201 Barn Way', 'Pittsburgh', 'PA', '15219', '[BettyBAgnew@cengage.com](mailto:BettyBAgnew@cengage.com)', '878-263-7528', '1985-11-23 00:00:00'

                   '125', 'McCauley', 'Raymond', '3254 Memory Lane', 'Pittsburgh', 'PA', '15219', '[RaymondCMcCauley@cengage.com](mailto:RaymondCMcCauley@cengage.com)', '878-345-0803', '1986-03-10 00:00:00'

                   '126', 'Sisto', 'Robert', '2836 Bedford Ave', 'Pittsburgh', 'PA', '15219', '[RobertJSisto@cengage.com](mailto:RobertJSisto@cengage.com)', '646-373-8125', '1966-11-25 00:00:00'

                    '127', 'Lara', 'Tamara', '4588 Monaca Pl', 'Pittsburgh', 'PA', '15219', '[TamaraRLara@cengage.com](mailto:TamaraRLara@cengage.com)', '417-359-2241', '1984-08-31 00:00:00'

                    '128', 'Allen', 'Michael', '2367 Cliff St', 'Pittsburgh', 'PA', '15219', '[MichaelHAllen@cengage.com](mailto:MichaelHAllen@cengage.com)', '412-790-6275', '1966-08-14 00:00:00'

                    '129', 'Pegues', 'Vicki', '3700 Penn Ave', 'Pittsburgh', 'PA', '15219', '[VickiJPegues@cengage.com](mailto:VickiJPegues@cengage.com)', '412-597-0247', '1994-12-14 00:00:00'

                    '130', 'Choi', 'Min Jee', '2661 Webster Ave', 'Pittsburgh', 'PA', '15219', '[MinJeeChoi@cengage.com](mailto:MinJeeChoi@cengage.com)', '412-868-5257', '2001-04-05 00:00:00'

In [27]:
-- --------------------------------------------------------
-- Dumping data for table 'Customers'
-- --------------------------------------------------------
INSERT INTO Customers VALUES('101', 'Aboud', 'Nour', '4898 Negley Ave', 'Pittsburgh', 'PA', '15232', 'NourAboud@cengage.com', '412-255-5443', '1998-02-23 00:00:00');
INSERT INTO Customers VALUES('102', 'Waldron', 'Tony', '766 Myrtle Way', 'Pittsburgh', 'PA', '15232', 'TonyLWaldron@cengage.com', '617-825-9347', '1989-08-23 00:00:00');
INSERT INTO Customers VALUES('103', 'Arian', 'Farah', '998 ForwardAve', 'Pittsburgh', 'PA', '15217', 'FarahArian@cengage.com', '878-243-9786', '2000-10-21 00:00:00');
INSERT INTO Customers VALUES('104', 'Cane', 'James', '4310 Elmer St', 'Pittsburgh', 'PA', '15232', 'JamesJCane@cengage.com', '610-555-9951', '1967-02-01 00:00:00');
INSERT INTO Customers VALUES('105', 'Brescia', 'Keith', '1595 Holden St', 'Pittsburgh', 'PA', '15232', 'KeithWBrescia@cengage.com', '724-943-0945', '1948-06-11 00:00:00');
INSERT INTO Customers VALUES('106', 'Conner', 'Don', '3004 Alder St', 'Pittsburgh', 'PA', '15232', 'DonSConner@cengage.com', '412-281-0129', '1957-05-18 00:00:00');
INSERT INTO Customers VALUES('107', 'Feldman', 'Terrance', '2158 Semple St', 'Pittsburgh', 'PA', '15213', 'TerranceLFeldman@cengage.com', '559-673-4340', '1987-12-09 00:00:00');
INSERT INTO Customers VALUES('108', 'Gregor', 'Alice', '392 Murray Ave', 'Pittsburgh', 'PA', '15217', 'AliceRGregor@cengage.com', '770-832-4718', '1957-02-16 00:00:00');
INSERT INTO Customers VALUES('109', 'Miller', 'Roland', '2542 York Way', 'Pittsburgh', 'PA', '15213', 'RolandJMiller@cengage.com', '412-266-5419', '1984-04-20 00:00:00');
INSERT INTO Customers VALUES('110', 'Sanchez', 'Ramiro', '4983 McKee Pl', 'Pittsburgh', 'PA', '15213', 'RamiroSanchez@cengage.com', '878-576-5221', '1953-04-01 00:00:00');
INSERT INTO Customers VALUES('111', 'Barry', 'Juan', '4534 Urie Way', 'Pittsburgh', 'PA', '15213', 'JuanRBarry@cengage.com', '210-444-4773', '1958-01-03 00:00:00');
INSERT INTO Customers VALUES('112', 'Smith', 'Sharon', '1937 Bates St', 'Pittsburgh', 'PA', '15213', 'SharonMSmith@cengage.com', '878-268-2455', '1944-10-16 00:00:00');
INSERT INTO Customers VALUES('113', 'Hatcher', 'Charles', '3218 Louisa St', 'Pittsburgh', 'PA', '15213', 'CharlesMHatcher@cengage.com', '561-550-8190', '1976-12-27 00:00:00');
INSERT INTO Customers VALUES('114', 'Spencer', 'Glenn', '2764 Oakland Ave', 'Pittsburgh', 'PA', '15213', 'GlennJSpencer@cengage.com', '878-688-4980', '1934-05-07 00:00:00');
INSERT INTO Customers VALUES('115', 'Hearn', 'James', '1252 Pier St', 'Pittsburgh', 'PA', '15213', 'JamesJHearn@cengage.com', '231-640-8302', '1996-02-15 00:00:00');
INSERT INTO Customers VALUES('116', 'Cornett', 'Albert', '3545 Ermine Way', 'Pittsburgh', 'PA', '15213', 'AlbertACornett@cengage.com', '724-975-6688', '1947-09-29 00:00:00');
INSERT INTO Customers VALUES('117', 'Devito', 'Sylvia', '3281 Fiber Way', 'Pittsburgh', 'PA', '15213', 'SylviaKDevito@cengage.com', '256-486-5999', '1949-05-27 00:00:00');
INSERT INTO Customers VALUES('118', 'Hill', 'Jess', '3161 Argyle Way', 'Pittsburgh', 'PA', '15213', 'JessAHill@cengage.com', '480-854-3611', '1938-01-04 00:00:00');
INSERT INTO Customers VALUES('119', 'Benavides', 'Philip', '1465 Butler St', 'Pittsburgh', 'PA', '15201', 'PhilipCBenavides@cengage.com', '412-868-4146', '1994-10-13 00:00:00');
INSERT INTO Customers VALUES('120', 'Patterson', 'Margo', '3291 Mahon St', 'Pittsburgh', 'PA', '15219', 'MargoFPatterson@cengage.com', '412-290-1510', '1960-09-19 00:00:00');
INSERT INTO Customers VALUES('121', 'Thorn', 'Debbie', '4434 Watt St', 'Pittsburgh', 'PA', '15219', 'DebbieLThorn@cengage.com', '412-323-5436', '1968-06-01 00:00:00');
INSERT INTO Customers VALUES('122', 'Shaffer', 'Gene', '2041 Wylie Ave', 'Pittsburgh', 'PA', '15219', 'GeneKShaffer@cengage.com', '281-817-7573', '2002-06-10 00:00:00');
INSERT INTO Customers VALUES('123', 'Brough', 'Pablo', '1812 Penn Ave', 'Pittsburgh', 'PA', '15224', 'PabloRBrough@cengage.com', '909-577-5726', '1975-08-30 00:00:00');
INSERT INTO Customers VALUES('124', 'Agnew', 'Betty', '201 Barn Way', 'Pittsburgh', 'PA', '15219', 'BettyBAgnew@cengage.com', '878-263-7528', '1985-11-23 00:00:00');
INSERT INTO Customers VALUES('125', 'McCauley', 'Raymond', '3254 Memory Lane', 'Pittsburgh', 'PA', '15219', 'RaymondCMcCauley@cengage.com', '878-345-0803', '1986-03-10 00:00:00');
INSERT INTO Customers VALUES('126', 'Sisto', 'Robert', '2836 Bedford Ave', 'Pittsburgh', 'PA', '15219', 'RobertJSisto@cengage.com', '646-373-8125', '1966-11-25 00:00:00');
INSERT INTO Customers VALUES('127', 'Lara', 'Tamara', '4588 Monaca Pl', 'Pittsburgh', 'PA', '15219', 'TamaraRLara@cengage.com', '417-359-2241', '1984-08-31 00:00:00');
INSERT INTO Customers VALUES('128', 'Allen', 'Michael', '2367 Cliff St', 'Pittsburgh', 'PA', '15219', 'MichaelHAllen@cengage.com', '412-790-6275', '1966-08-14 00:00:00');
INSERT INTO Customers VALUES('129', 'Pegues', 'Vicki', '3700 Penn Ave', 'Pittsburgh', 'PA', '15219', 'VickiJPegues@cengage.com', '412-597-0247', '1994-12-14 00:00:00');
INSERT INTO Customers VALUES('130', 'Choi', 'MinJee', '2661 Webster Ave', 'Pittsburgh', 'PA', '15219', 'MinJeeChoi@cengage.com', '412-868-5257', '2001-04-05 00:00:00');
------------------------------------------------------------

Question 7: Write command for: Dropping a table named Instructors if it already exists.  -- 0.1 points

                    Create a table named Instructors. The primary key for this table will be InstructorID. It should have the below columns:  -- 0.4 points

                   InstructorID as VARCHAR(7) datatype without any null values, 

                   InstructorLastName as VARCHAR(25) datatype, 

                   InstructorFirstName as VARCHAR(25) datatype, 

                    InstructorStreetAddress as VARCHAR(50) datatype, 

                    InstructorCity as VARCHAR(25) datatype, 

                    InstructorState as VARCHAR(2) datatype, 

                    InstructorZipCode as VARCHAR(5) datatype, 

                    InstructorEmailAddress as VARCHAR(255) datatype, 

                    InstructorPhoneNumber as VARCHAR(12) datatype.

In [30]:
-- --------------------------------------------------------
--  Dropping a table named Instructors if it already exists 
-- --------------------------------------------------------
DROP TABLE Instructors;

-- --------------------------------------------------------
--  Create a table named Instructors  
-- --------------------------------------------------------
CREATE TABLE Instructors(
InstructorID VARCHAR(7) NOT NULL,
InstructorLastName VARCHAR(25),
InstructorFirstName VARCHAR(25),
InstructorStreetAddress VARCHAR(50),
InstructorCity VARCHAR(25),
InstructorState VARCHAR(2),
InstructorZipCode VARCHAR(5),
InstructorEmailAddress VARCHAR(255),
InstructorPhoneNumberV VARCHAR(12),
CONSTRAINT InstructorsPK PRIMARY KEY (InstructorID));

-- --------------------------------------------------------

Question 8:  Insert the below rows separated by commas for the respective columns for the Instructors table.  -- 0.5 points

                    InstructorID, InstructorLastName, InstructorFirstName, InstructorStreetAddress, InstructorCity, InstructorState, InstructorZipCode, InstructorEmailAddress, InstructorPhoneNumber

                     'JV01', 'Varlano', 'Juan', '15A Penn Ave', 'Pittsburgh', 'PA', '15219', '[JuanVarlano@cengage.com](mailto:JuanVarlano@cengage.com)', '412-998-6534'

                     'LL01', 'Lane', 'Luke', '2661 Butler St', 'Pittsburgh', 'PA', '15201', '[LukeCLane@cengage.com](mailto:LukeCLane@cengage.com)', '561-868-5257'

                     'MA01', 'Nguyen', 'Michael', '2367 Barn Way', 'Pittsburgh', 'PA', '15219', '[MichaelNguyen@cengage.com](mailto:MichaelNguyen@cengage.com)', '951-790-6275'

                     'MD01', 'D''Angelo', 'Maria', '245D Wylie Ave', 'Pittsburgh', 'PA', '15219', '[MariaDAngelo@cengage.com](mailto:MariaDAngelo@cengage.com)', '724-887-2835'

                     'MK01', 'Kobinski', 'Megan', '9087 Monanca Pl', 'Pittsburgh', 'PA', '15219', '[MeganKobinski@cengage.com](mailto:MeganKobinski@cengage.com)', '878-653-7364'

                     'MS01', 'Said', 'Memo', '45 Webster Ave', 'Pittsburgh', 'PA', '15219', '[MemoSaid@cengage.com](mailto:MemoSaid@cengage.com)', '412-764-9834'

                     'NT01', 'Tahan', 'Neda', '4588 Penn Ave', 'Pittsburgh', 'PA', '15219', '[NedaTahan@cengage.com](mailto:NedaTahan@cengage.com)', '417-359-2241'

                     'RS01', 'Stein', 'Raymond', '3254 Forward Ave', 'Pittsburgh', 'PA', '15217', '[RaymondStein@cengage.com](mailto:RaymondStein@cengage.com)', '269-345-0803'

                     'RS02', 'Sisto', 'Robert', '2836 Maryland Ave', 'Pittsburgh', 'PA', '15232', '[RobertJSisto@cengage.com](mailto:RobertJSisto@cengage.com)', '646-373-8125'

                     'VP01', 'Pegues', 'Vicki', '3700 Murray Ave', 'Pittsburgh', 'PA', '15217', '[VickiJPegues@cengage.com](mailto:VickiJPegues@cengage.com)', '678-597-0247'

In [31]:
-- --------------------------------------------------------
-- Dumping data for table 'Instructors'
-- --------------------------------------------------------
INSERT INTO Instructors VALUES('JV01', 'Varlano', 'Juan', '15A Penn Ave', 'Pittsburgh', 'PA', '15219', 'JuanVarlano@cengage.com', '412-998-6534');
INSERT INTO Instructors VALUES('LL01', 'Lane', 'Luke', '2661 Butler St', 'Pittsburgh', 'PA', '15201', 'LukeCLane@cengage.com', '561-868-5257');
INSERT INTO Instructors VALUES('MA01', 'Nguyen', 'Michael', '2367 Barn Way', 'Pittsburgh', 'PA', '15219', 'MichaelNguyen@cengage.com', '951-790-6275');
INSERT INTO Instructors VALUES('MD01', 'D''Angelo', 'Maria', '245D Wylie Ave', 'Pittsburgh', 'PA', '15219', 'MariaDAngelo@cengage.com', '724-887-2835');
INSERT INTO Instructors VALUES('MK01', 'Kobinski', 'Megan', '9087 Monanca Pl', 'Pittsburgh', 'PA', '15219', 'MeganKobinski@cengage.com', '878-653-7364');
INSERT INTO Instructors VALUES('MS01', 'Said', 'Memo', '45 Webster Ave', 'Pittsburgh', 'PA', '15219', 'MemoSaid@cengage.com', '412-764-9834');
INSERT INTO Instructors VALUES('NT01', 'Tahan', 'Neda', '4588 Penn Ave', 'Pittsburgh', 'PA', '15219', 'NedaTahan@cengage.com', '417-359-2241');
INSERT INTO Instructors VALUES('RS01', 'Stein', 'Raymond', '3254 Forward Ave', 'Pittsburgh', 'PA', '15217', 'RaymondStein@cengage.com', '269-345-0803');
INSERT INTO Instructors VALUES('RS02', 'Sisto', 'Robert', '2836 Maryland Ave', 'Pittsburgh', 'PA', '15232', 'RobertJSisto@cengage.com', '646-373-8125');
INSERT INTO Instructors VALUES('VP01', 'Pegues', 'Vicki', '3700 Murray Ave', 'Pittsburgh', 'PA', '15217', 'VickiJPegues@cengage.com', '678-597-0247');

-------------------------------------------------------------

Question 9: Write command for: Dropping a table named Reservations if it already exists.  -- 0.1 points

                    Create a table named Instructors. The primary key for this table will be ReservationID. It should have the below columns:  -- 0.4 points

                   ReservationID as Numeric datatype and should not accept null values,

                   ClassID as Integer datatype,

                   ClassPrice as Decimal(19,4) datatype,

                   OtherFees as Decimal(19,4) datatype,

                   CustomerID as VARCHAR(7) datatype

In [35]:
-- --------------------------------------------------------
--  Dropping a table named Reservations if it already exists 
-- --------------------------------------------------------
DROP TABLE Reservations;

-- --------------------------------------------------------
--  Create a table named Reservations  
-- --------------------------------------------------------
CREATE TABLE Reservations(
ReservationID NUMERIC NOT NULL,
ClassID INTEGER,
ClassDate DATETIME,
ClassPrice DECIMAL(19,4),
OtherFees DECIMAL(19,4),
CustomerID VARCHAR(7),
CONSTRAINT ReservationPK PRIMARY KEY (ReservationID));

-- --------------------------------------------------------

Question 10: Insert the below rows separated by commas for the respective columns for the Reservations table.  -- 0.05 points

                   ReservationID, ClassID, ClassDate, ClassPrice, OtherFees, CustomerID

                   2100001, 39, '2021-01-07 00:00:00', 9, NULL, '102'

                   2100002, 24, '2021-01-03 00:00:00', 11, 5, '102'

                   2100003, 10, '2021-01-06 00:00:00', 9, NULL, '103'

                   2100004, 9, '2021-01-07 00:00:00', 9, NULL, '104'

                   2100005, 7, '2021-01-05 00:00:00', 9, NULL, '106'

                   2100006, 1, '2021-01-02 00:00:00', 9, NULL, '106'

                   2100007, 2, '2021-01-04 00:00:00', 9, NULL, '107'

                   2100008, 3, '2021-01-05 00:00:00', 9, NULL, '108'

                   2100009, 5, '2021-01-02 00:00:00', 9, NULL, '109'

                   2100010, 8, '2021-01-07 00:00:00', 9, NULL, '111'

                   2100011, 4, '2021-01-02 00:00:00', 9, NULL, '111'

                   2100012, 9, '2021-01-07 00:00:00', 9, NULL, '113'

                   2100013, 10, '2021-01-06 00:00:00', 9, NULL, '113'

                   2100014, 14, '2021-01-07 00:00:00', 9, NULL, '120'

                    2100015, 15, '2021-01-02 00:00:00', 9, NULL, '121'

                    2100016, 17, '2021-01-03 00:00:00', 11, 5, '122'

                   2100017, 18, '2021-01-05 00:00:00', 10, NULL, '123'

                    2100018, 35, '3021-01-03 00:00:00', 9, NULL, '124'

                    2100019, 36, '2021-01-02 00:00:00', 11, 5, '119'

                     2100020, 2, '2021-01-04 00:00:00', 9, NULL, '120'

                     2100021, 9, '2021-01-07 00:00:00', 9, NULL, '121'

                     2100022, 6, '2021-01-05 00:00:00', 9, NULL, '122'

                     2100023, 4, '2021-01-02 00:00:00', 11, 5, '123'

                      2100024, 21, '2021-01-03 00:00:00', 9, NULL, '124'

                      2100025, 24, '2021-01-03 00:00:00', 11, 5, '125'

                       2100026, 26, '2021-01-06 00:00:00', 9, NULL, '126'

                       2100027, 15, '2021-01-02 00:00:00', 9, NULL, '127'

                        2100028, 25, '2021-01-03 00:00:00', 9, NULL, '127'

                         2100029, 29, '2021-01-08 00:00:00', 9, NULL, '129'

                        2100030, 27, '2021-01-06 00:00:00', 9, NULL, '130'

                        2100031, 31, '2021-01-02 00:00:00', 9, NULL, '101'

                        2100032, 32, '2021-01-07 00:00:00', 9, NULL, '105'

                       2100033, 33, '2021-01-02 00:00:00', 9, NULL, '110'

                        2100034, 40, '2021-01-06 00:00:00', 10, NULL, '112'

                        2100035, 20, '2021-01-05 00:00:00', 10, NULL, '114'

                        2100036, 11, '2021-01-08 00:00:00', 9, NULL, '115'

                        2100037, 12, '2021-01-06 00:00:00', 9, NULL, '116'

                        2100038, 13, '2021-01-08 00:00:00', 9, NULL, '117'

                        2100039, 31, '2021-01-02 00:00:00', 9, NULL, '118'

In [36]:
-- --------------------------------------------------------
-- Dumping data for table 'Reservations'
-- --------------------------------------------------------
INSERT INTO Reservations VALUES(2100001, 39, '2021-01-07 00:00:00', 9, NULL, '102');
INSERT INTO Reservations VALUES(2100002, 24, '2021-01-03 00:00:00', 11, 5, '102');
INSERT INTO Reservations VALUES(2100003, 10, '2021-01-06 00:00:00', 9, NULL, '103');
INSERT INTO Reservations VALUES(2100004, 9, '2021-01-07 00:00:00', 9, NULL, '104');
INSERT INTO Reservations VALUES(2100005, 7, '2021-01-05 00:00:00', 9, NULL, '106');
INSERT INTO Reservations VALUES(2100006, 1, '2021-01-02 00:00:00', 9, NULL, '106');
INSERT INTO Reservations VALUES(2100007, 2, '2021-01-04 00:00:00', 9, NULL, '107');
INSERT INTO Reservations VALUES(2100008, 3, '2021-01-05 00:00:00', 9, NULL, '108');
INSERT INTO Reservations VALUES(2100009, 5, '2021-01-02 00:00:00', 9, NULL, '109');
INSERT INTO Reservations VALUES(2100010, 8, '2021-01-07 00:00:00', 9, NULL, '111');
INSERT INTO Reservations VALUES(2100011, 4, '2021-01-02 00:00:00', 9, NULL, '111');
INSERT INTO Reservations VALUES(2100012, 9, '2021-01-07 00:00:00', 9, NULL, '113');
INSERT INTO Reservations VALUES(2100013, 10, '2021-01-06 00:00:00', 9, NULL, '113');
INSERT INTO Reservations VALUES(2100014, 14, '2021-01-07 00:00:00', 9, NULL, '120');
INSERT INTO Reservations VALUES(2100015, 15, '2021-01-02 00:00:00', 9, NULL, '121');
INSERT INTO Reservations VALUES(2100016, 17, '2021-01-03 00:00:00', 11, 5, '122');
INSERT INTO Reservations VALUES(2100017, 18, '2021-01-05 00:00:00', 10, NULL, '123');
INSERT INTO Reservations VALUES(2100018, 35, '3021-01-03 00:00:00', 9, NULL, '124');
INSERT INTO Reservations VALUES(2100019, 36, '2021-01-02 00:00:00', 11, 5, '119');
INSERT INTO Reservations VALUES(2100020, 2, '2021-01-04 00:00:00', 9, NULL, '120');
INSERT INTO Reservations VALUES(2100021, 9, '2021-01-07 00:00:00', 9, NULL, '121');
INSERT INTO Reservations VALUES(2100022, 6, '2021-01-05 00:00:00', 9, NULL, '122');
INSERT INTO Reservations VALUES(2100023, 4, '2021-01-02 00:00:00', 11, 5, '123');
INSERT INTO Reservations VALUES(2100024, 21, '2021-01-03 00:00:00', 9, NULL, '124');
INSERT INTO Reservations VALUES(2100025, 24, '2021-01-03 00:00:00', 11, 5, '125');
INSERT INTO Reservations VALUES(2100026, 26, '2021-01-06 00:00:00', 9, NULL, '126');
INSERT INTO Reservations VALUES(2100027, 15, '2021-01-02 00:00:00', 9, NULL, '127');
INSERT INTO Reservations VALUES(2100028, 25, '2021-01-03 00:00:00', 9, NULL, '127');
INSERT INTO Reservations VALUES(2100029, 29, '2021-01-08 00:00:00', 9, NULL, '129');
INSERT INTO Reservations VALUES(2100030, 27, '2021-01-06 00:00:00', 9, NULL, '130');
INSERT INTO Reservations VALUES(2100031, 31, '2021-01-02 00:00:00', 9, NULL, '101');
INSERT INTO Reservations VALUES(2100032, 32, '2021-01-07 00:00:00', 9, NULL, '105');
INSERT INTO Reservations VALUES(2100033, 33, '2021-01-02 00:00:00', 9, NULL, '110');
INSERT INTO Reservations VALUES(2100034, 40, '2021-01-06 00:00:00', 10, NULL, '112');
INSERT INTO Reservations VALUES(2100035, 20, '2021-01-05 00:00:00', 10, NULL, '114');
INSERT INTO Reservations VALUES(2100036, 11, '2021-01-08 00:00:00', 9, NULL, '115');
INSERT INTO Reservations VALUES(2100037, 12, '2021-01-06 00:00:00', 9, NULL, '116');
INSERT INTO Reservations VALUES(2100038, 13, '2021-01-08 00:00:00', 9, NULL, '117');
INSERT INTO Reservations VALUES(2100039, 31, '2021-01-02 00:00:00', 9, NULL, '118');

-------------------------------------------------------------

Question 11:  Which instructors (showing last name only) live in zip code 15217 from Instructors table?  -- 0.05 points

In [37]:
-------------------Insert code for Question 11 below----------------
SELECT InstructorLastName FROM Instructors WHERE InstructorZipCode = '15217';


--------------------------------------------------------------------

InstructorLastName
Stein
Pegues

Question 12: Write the SQL code that answers the following question: Which classes are scheduled for Wednesdays at the Downtown location from Classes table? List the class name, the day, and the location.   --0.1 points

In [38]:
-------------------Insert code for Question 12 below----------------
SELECT ClassName, Day, Location FROM Classes WHERE (Day = 'Wednesday' AND Location = 'Downtown');


--------------------------------------------------------------------

ClassName,Day,Location
Barre Limited,Wednesday,Downtown
Yoga,Wednesday,Downtown

Question 13: Alter the datatype of Description column in Classes table. Change the datatype from VARCHAR(255) to VARCHAR(500)  -- 0.1 points

In [39]:
-------------------Insert code for Question 13 below----------------
ALTER TABLE Classes
    ALTER COLUMN Description VARCHAR(500);



--------------------------------------------------------------------

Question 14: Create an index for any one of the columns for the table of your choice.   -- 0.1 points

In [40]:
-------------------Insert code for Question 14 below----------------
CREATE INDEX LastNameIndex ON Customers(LastName);


--------------------------------------------------------------------

Question 15: Drop any one of the columns for the table of your choice.   -- 0.1 points

In [41]:
-------------------Insert code for Question 15 below----------------
ALTER TABLE Reservations
    DROP COLUMN OtherFees;

--------------------------------------------------------------------